@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
.text-air, .ProductosDestacados, .encabezados {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Play"; }

.contenedor-productos .contenedor-imagen {
  margin: 10px;
  border: 3px solid whitesmoke;
  border-radius: 4px;
  overflow: hidden;
  position: relative; }

figcaption {
  font-size: 20px;
  font-family: "Play";
  text-align: center;
  line-height: none; }

.banner {
  font-size: 0.9em;
  font-family: "roboto";
  text-align: center;
  line-height: none; }

.header__container {
  width: 100%;
  height: 50px; }

.input__busqueda {
  width: 50%;
  height: 40px; }

.contenedor-imagen {
  width: 25%;
  height: 320px; }

.contenedor-imagen img {
  width: 100%;
  height: 100%; }

.contenedor-imagen::before {
  width: 100%;
  height: 100%; }

.texto {
  width: 100%;
  height: 100%; }

.contenedor-productos .contenedor-imagen::after {
  width: 80%;
  height: 2px; }

.boton-prod {
  width: 150px;
  height: 50px; }

.text-air {
  color: #000; }

.ProductosDestacados {
  color: #2e2b2b; }

.contenedor1, figcaption {
  color: #000; }

.banner {
  color: #686868; }

.nav-link {
  color: #686868; }

.img-logo {
  width: 100%; }

header .botonera {
  font-weight: 800;
  font-family: "Play"; }
  header .botonera img {
    width: 100vw; }
  header .botonera .nav-link {
    display: inline-block;
    position: relative; }
    header .botonera .nav-link::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgba(10, 10, 10, 0.852);
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.2s ease-out; }
    header .botonera .nav-link:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left; }

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 100; }
  .header__container .input__busqueda {
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: "Play"; }
  .header__container .carrito {
    border: none;
    font-family: "Play"; }
    .header__container .carrito:hover {
      font-weight: 600; }

.contenedor-productos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .contenedor-productos .contenedor-imagen img {
    transition: all .3s; }
    .contenedor-productos .contenedor-imagen img:hover {
      filter: blur(1.5px);
      transform: scale(1.5);
      transition: all .3s; }
  .contenedor-productos .contenedor-imagen .texto {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Play"; }
  .contenedor-productos .contenedor-imagen .titulo {
    position: relative;
    left: 100%;
    transition: all .3s;
    margin: 10px;
    padding: 5px; }
  .contenedor-productos .contenedor-imagen:hover .titulo {
    left: 0;
    animation-delay: .3s;
    transition: all .3s; }
  .contenedor-productos .contenedor-imagen .parrafo {
    position: relative;
    right: 100%;
    transition: all .3s;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 5px; }
    .contenedor-productos .contenedor-imagen .parrafo:hover {
      transform: scale(1.2); }
  .contenedor-productos .contenedor-imagen:hover img {
    filter: blur(1.5px);
    transform: scale(1.5);
    transition: all .3s; }
  .contenedor-productos .contenedor-imagen::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transition: all .3s; }
  .contenedor-productos .contenedor-imagen:hover::before {
    background: rgba(0, 0, 0, 0.5);
    transition: all .3s;
    z-index: 10; }
  .contenedor-productos .contenedor-imagen:hover .parrafo {
    right: 0;
    animation-delay: .3s;
    transition: all .3s; }
  .contenedor-productos .contenedor-imagen::after {
    content: "";
    position: absolute;
    background: white;
    left: -100%;
    top: 20%;
    z-index: 30;
    transform: translateX(-50%) translateY(-50%);
    transition: all .3s; }
  .contenedor-productos .contenedor-imagen:hover::after {
    left: 50%;
    transition: all .3s; }

.divboton {
  width: 150px;
  margin: auto;
  transition: box-shadow ease-in-out;
  border-radius: 5px;
  padding: 2%;
  border: none; }
  .divboton .boton-prod {
    background-color: #2e2e2e;
    border: none;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer; }
    .divboton .boton-prod:hover {
      background-color: black; }

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2%;
  margin: auto;
  background: whitesmoke; }
  .banner .avisos {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .banner .avisos .avisos-texto {
      display: flex;
      flex-direction: column; }
    .banner .avisos p {
      font-size: 110%; }

.footer img {
  width: 27px;
  height: 30px; }

.footer section li {
  color: white;
  font-family: "Play";
  list-style: none;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 400; }

.footer section a {
  color: white;
  text-decoration: none; }

.text-air {
  background: linear-gradient(to top, #e2d3da, #f2d0e0);
  height: 100px;
  font-size: 30px; }

.ProductosDestacados {
  font-size: 20px;
  font-weight: 600; }

@media (max-width: 991px) {
  .contenedor-imagen {
    width: 45%; }
  .banner {
    display: flex;
    flex-direction: column; }
    .banner .avisos {
      width: 100%; } }

@media (max-width: 768px) {
  .contenedor-imagen {
    width: 60%;
    display: flex;
    flex-direction: column; }
  .carrito {
    display: none; } }

@media (max-width: 572px) {
  .contenedor-imagen {
    width: 80%; } }
