.img-contacto{
    width: 100%;
    padding-bottom: 30px;
    img{
        width: 100%;
    };
}

.contact-form{
    font-family: 'Play', sans-serif;
    margin-bottom: 8px;
    color: rgb(77, 77, 77);
    label{
        margin-left: 10px;
    }
    .input-1{
        width: 80%;
        line-height: 1em;
        padding: 10px;
        margin: auto;
        border: 1px solid;
        font-family: 'Play', sans-serif;
        font-weight: 500;
        color: rgb(0, 0, 0);
    }

    .area-text{
        width: 90%;
    }
    
    .input-2{
        height: 30px;
        background-color:rgb(28, 26, 26);
        color: whitesmoke;
        border: none;
    }
}

.contacto{
    width: 100%;
    font-family: $fontPrincipal;
    font-size: 1.1em;
    padding-top: 10px;
    ul{
        list-style: none;
        li{
            text-decoration: none;
            color: rgb(77, 77, 77);
            padding: 10px;
            span{
                color: black;
                font-weight: 700;
            }
        }
        a{
            text-decoration: none;
            color: rgb(77, 77, 77);
            span{
                color: black;
                font-weight: 700;
            }
        }
    }
}

.map{
    border: solid;
    border-width: 1px;
    border-color: #c4c7c1;

}
