//Extends

%text-main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fontPrincipal;
}


//Banner

// %banner{
//     display: flex;
//     flex-direction: row;
//     width: 33%;
//     justify-items: center;
//     padding-bottom: 15px;
//     font-family: $fontsecundaria;
//     padding-top: 20px;
//     font-weight: 400;
// }

// %img-banner{
//     width: 60px;
//     height: 60px;
// }