//Extends
%text-air{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


%ctd-img{
        margin: 10px;
        border: 3px solid whitesmoke;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
}

