footer{
    background-color: rgb(28, 26, 26);
    display: flex;
#pie{
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h4{
            color: whitesmoke;
            font-family: $fontPrincipal;
            padding-bottom: 10px;
        }
        .footer{
            display: flex;
            .img-pie{
                margin: 10px;
                filter: grayscale(100%);
                transition: all .3s;
                &:hover{
                    filter: none;
                    transform: scale(1.3);
                    transition: all .3s;
                    }        
                }
        }
        h6 {
            padding-top: 30px;
            a{
            color: whitesmoke;
            font-family: $fontsecundaria;
            font-weight: 200;
            text-decoration: none;
        }
    }
    }
}
