.footer{
    
    img{
        width: 27px;
        height: 30px;
    }
    
    section{ 
            li{
                color: $fontcolor-tres;
                font-family: $fontPrincipal;
                list-style: none;
                text-decoration: none;  
                font-size: $fontsize-second;
                font-weight: 400;
            }

            a{
                color: $fontcolor-tres;
                text-decoration: none;
            }
    }
}