//Imagen general de fondo

body{
    background-image: url(../imagenes/general.jpg);
    background-repeat:repeat;
    background-attachment: fixed;
    font-family: 'Play', sans-serif; 
}    

//Input de busqueda

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 100;
    .input__busqueda{
        width: 100%;
        border: solid 1px;
        border-radius: 10px;
        text-align: center;
        font-family: $fontPrincipal;
      
        }
    .buscar{
        height: 100%;
        border: none;
        border-radius: 5px;
        background-color: rgb(46, 46, 46);
        color: whitesmoke;
        margin-left: 5px;
        cursor: pointer;
        &:hover{
            background-color: black;
        }
    }
    }

//Boton de mis compras

    .img-carrito{
        display: none;
    }

    .button{
        font-family: $fontPrincipal;
        height: 40px;
        background-color:rgb(46, 46, 46);
        color: whitesmoke;
        border: none;
        border-radius: 3px;
        transition: .3s;
        cursor: pointer;
        &:hover{
            transform: scale(1.08);
            transition: .3s;
    }
    
}

//Contenedor de productos destacados

.contenedor-productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .contenedor-imagen{
        width: 320px;
        @extend %ctd-img;
        img{
            transition: all .3s;
            &:hover{
                filter: blur(1.5px);
                transform: scale(1.5);
                transition: all .3s;
                }
            }
        .texto{
            position: absolute;
            top: 0;
            left: 0;
            color: $fontcolor-tres;
            z-index: 20;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: $fontPrincipal;
            }
    
            .titulo{
            position: relative;
            left: 100%;
            transition: all .3s;
            margin: 10px;
            padding: 5px;
            }
            &:hover .titulo{
                left: 0;
                animation-delay: .3s;
                transition: all .3s;
                }
            
            .parrafo{
            position: relative;
            right: 100%;
            transition: all .3s;
            text-decoration: none;
            color: $fontcolor-tres;
            margin: 10px;
            padding: 5px;
                &:hover{
                    transform: scale(1.2);
                }
            }
            &:hover img{
                filter: blur(1.5px);
                transform: scale(1.5);
                transition: all .3s;
                }
            &::before{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                transition: all .3s;
                }
                &:hover::before{
                    background: rgba(0,0,0,.5);
                    transition: all .3s;
                    z-index: 10;
                    }
            &:hover .parrafo{
                right: 0;
                animation-delay: .3s;
                transition: all .3s;
            }
            &::after{
                content: "";
                position: absolute;
                background: white;
                left: -100%;
                top: 20%;
                z-index: 30;
                transform: translateX(-50%) translateY(-50%);
                transition: all .3s;
               }
               &:hover::after{
                left: 50%;
                transition: all .3s;
               }
    }
}

//Boton de productos

       .divboton{
        width: 150px;
        margin: auto;
        transition:box-shadow ease-in-out;
        border-radius: 5px;
        padding: 2%;
        border: none;
        
        .boton-prod{
            background-color:rgb(46, 46, 46);
            border: none;
            color:$fontcolor-tres;
            border-radius: 3px;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                background-color: black;
            }
            }
        }   
         
            
            

        

       
