@media(max-width:340px){
    .selector{
        width: 60%;
    }
    
    .contenedor-imagen{
        width: 100%;
        height: auto;
    }

    .productos {
        width: 100%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }   
}

@media(max-width:426px){
    .ProductosDestacados,
    .text-air{
        text-align: center;
    }
}

@media(max-width:680px){
    .button{
        display: none;
    }
    .img-carrito{
        display: flex;
    }
}

@media(max-width:736px){
    #container{
        img{
            width: 100%;
        }
    .texto{
        text-align: center;
    }
}
}