//Mixin
@mixin texto($size, $family){
    font-size: $size;
    font-family: $family;
    text-align: center;
    line-height: none;
}

@mixin medidas($width, $height){
    width: $width;
    height: $height;
}
    .header__container{
    @include medidas(100%, 50px)
}
    .input__busqueda{
    @include medidas(50%, 40px)
    }
    .contenedor-imagen{
    @include medidas(25%,320px)
    }
    .contenedor-imagen img{
    @include medidas(100%, 100%)
    }
    .contenedor-imagen::before{
    @include medidas(100%, 100%)
    }

    .texto{
    @include medidas (100%, 100%)
    }
    .contenedor-productos .contenedor-imagen::after{
    @include medidas(80%,2px)
    }


    .boton-prod{
    @include medidas(150px,50px)
    }

