.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $fontPrincipal;
    cursor: pointer;
    }
    img{
        border-radius: 2px;
    }
    figcaption{
        text-align: center;
        .iva{
            font-size: 13px;
        }
    }
   