.text-air{
    @extend %text-air;
    background-color: whitesmoke;
    height: 100px;
    h1{
    font-size: 45px;
    font-weight: 700;
}
}

.ProductosDestacados{
    @extend %text-main;
    font-size: 40px;
    font-weight: 600;
}

