@import "partials/variables";
@import "partials/header";
@import "partials/textcenter";
@import "partials/main";
@import "partials/banner";
@import "partials/footer";
@import "partials/mediaqueries";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../imagenes/general.jpg);
    background-repeat:repeat;
    background-attachment: fixed;
    font-family: $fontPrincipal;  
} 
