.text-air{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(195, 191, 85);
    color: $fontcolor-primario;
    font-size: $fontsize-first;
    height: 100px;
    }
